<footer>
    <a href = "#mainTop" style = "color: white; text-decoration: none;">Innapoi la inceputul paginii</a> 
      <br>
    <a href = "tel:123-456-7890" style = "color: white; text-decoration: none;">123-456-7890</a>
      <br>
    <a href = "http://maps.google.com/?q=1200PennsylvaniaAveSE,Washington,DistrictofColumbia,20003" style = "color: white; text-decoration: none;">Deschide Harti</a>
      <br>
    <a href = "mailto:example@example.com" style = "color: white; text-decoration: none;">Trimite un E-mail</a>  
      <br>
    <a href = "https://wa.me/123-456-7890" style = "color: white; text-decoration: none;">trimite-ne un mesaj</a>
      <br>
    <small>&copy;<time datetime="2022-03-04">2022 Toate Drepturile Rezervate</time></small>
  </footer>